@font-face {
  font-family:  "Mazius Review";
  src: url(assets/maziusreview-regular.woff2);
}

@font-face {
  font-family:  "Mazius Review";
  font-style: italic;
  src: url(assets/maziusreview-extraitalic.woff2);
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(0, 24px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes hyphen {
  0% {
    width: 0.5em;
  }

  100% {
    width: 1em;
  }
}

@keyframes blob {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


body {
	font-family: Mazius Review;
	font-size: 48px;
	line-height: 1.25;
  margin: 100vh 0 0 0;

	background-color: #000000;
	color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
	font-size: 10vw;
  font-style: italic;
  animation: fadein 0.4s 1s both cubic-bezier(0.9,0.03,0.69,0.22);
}

h2 {
  max-width: 480px;
  font-size: 36px;
  text-align: center;
  animation: fadein 0.4s 2s both cubic-bezier(0.9,0.03,0.69,0.22);
}

header span {
  background-color: #ffffff;
  width: 1em;
  height: 0.02em;
  display: inline-block;
  vertical-align: middle;
  animation: hyphen 2s 1s infinite alternate cubic-bezier(0.86,0,0.07,1);
}

section {
  position: relative;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 12;
}

section p {
  max-width: 900px;
  font-size: 64px;
  line-height: 1.5;
  text-align: justify;
  animation: fadein 0.4s 1s both cubic-bezier(0.9,0.03,0.69,0.22);
}

figure {
  max-width: 900px;
  margin: 0 auto 0 auto;
}

figcaption {
  margin: 24px 20% 0 0;
}

section img {
  z-index: 100;
  width: 55rem;
  border: solid #ffffff 2px ;
  box-shadow: 1px 1px 2px rgb(190, 189, 189), 0 0 25px rgb(190, 189, 189), 0 0 5px rgb(190, 189, 189);
}

section img:hover {
  cursor: pointer;
}


svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  mix-blend-mode: multiply;
  pointer-events: none;
}

path {
  transform: scale(0);
  transition: transform 5s;
  z-index: 10;
}

g.blob.in-view path {
  transform: scale(1);
}

img.arrow {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 0);
  filter: invert(100%);
}

input {
  width: 55rem;
  height: 3rem;
  margin: 1rem 0 1rem 0;
  background-color: transparent;
  border: none;
  border-bottom: solid #ffffff 2px;
  color: #ffffff;
}

textarea {
  width: 55rem;
  height: 10rem;
  margin: 1rem 0 1rem 0;
  background-color: transparent;
  border: none;
  border-bottom: solid #ffffff 2px;
  color: #ffffff;
}


input::placeholder , textarea::placeholder{
  color: #999595;
  font-family: Mazius Review;
  font-size: 18px;
}

input:hover , textarea:hover{
  border-top: #ffffff 2px solid;
}

button {
  width: 20rem;
  height: 3rem;
  margin: 1rem 0 1rem 0;
  background-color: #000000;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-family: Mazius Review;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}